# Stock price prediction

## Importing libraries

### Pandas

In [24]:
import pandas as pd

### NumPy

In [25]:
import numpy as np

### Matplotlib

In [26]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mandates

### SciKit-Learn

In [27]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import linear_model

### Keras (Tensorflow)

In [28]:
from tensorflow.python.keras.layers import LSTM, Dense, Dropout
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
import tensorflow.python.keras.backend as K
from tensorflow.python.keras.callbacks import EarlyStopping
from tensorflow.python.keras.optimizers import adam_v2
from tensorflow.python.keras.models import load_model
from tensorflow.python.keras.layers import LSTM
from tensorflow.python.keras.utils.vis_utils import plot_model

## Visualise dataset

### Load dataset

In [29]:
df = pd.read_csv('dataset/nvidia_stock_history.csv', na_values=['null'], index_col='Date', parse_dates=True, infer_datetime_format=True)

/tmp/ipykernel_51024/1372316431.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv('dataset/nvidia_stock_history.csv', na_values=['null'], index_col='Date', parse_dates=True, infer_datetime_format=True)

### Print dataset's head

In [30]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-01-22,0.401941,0.448595,0.356484,0.376820,271468800.0,0.0,0.0
1999-01-25,0.406726,0.421081,0.376820,0.416296,51048000.0,0.0,0.0
1999-01-26,0.421081,0.429455,0.378016,0.383998,34320000.0,0.0,0.0
1999-01-27,0.385194,0.394764,0.363661,0.382801,24436800.0,0.0,0.0
1999-01-28,0.382801,0.385194,0.379212,0.381605,22752000.0,0.0,0.0

## Clean dataset

### Drop last two columns

In [31]:
# drop last two collumns of a dataframe
df = df.iloc[:, :-2]

### Display dataset's head

In [32]:
df.head()

                Open      High       Low     Close       Volume
Date
1999-01-22  0.401941  0.448595  0.356484  0.376820  271468800.0
1999-01-25  0.406726  0.421081  0.376820  0.416296   51048000.0
1999-01-26  0.421081  0.429455  0.378016  0.383998   34320000.0
1999-01-27  0.385194  0.394764  0.363661  0.382801   24436800.0
1999-01-28  0.382801  0.385194  0.379212  0.381605   22752000.0